Common/bin/
Common/obj/
Common/obj/
DataLibrary/bin/
DataLibrary/obj/
DataLibraryBase/bin/
DataLibraryBase/obj/
wwwroot/Bin/
DataModelApplication/obj/
CodeAutoGenerate/app.publish/
DataModelApplication/obj/
